.card__title {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
  padding: 0;
  margin: 0;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.card__like-btn {
  background-image: url(../images/Like\ button.svg);
  background-size: contain;
  width: 23px;
  height: 20px;
  border: 2px;
  background-color: transparent;
  opacity: 40%;
  color: #212121;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 100%;
}

@media screen and (max-width: 627px) {
  .card__title {
    max-width: 250px;
    font-size: 16px;
    font-weight: 500px;
    line-height: 16px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    padding: 10px 0;
  }

  .card__image {
    height: 288px;
  }

  .card__like-btn {
    width: 20px;
    height: 18px;
    margin-left: auto;
    padding: 0 12px;
  }
}
