.card {
  position: relative;
}

.card__title {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
  padding: 0;
  margin: 0;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.card__like-btn {
  background: transparent url(../images/Liked\ Button\ Red.png) no-repeat;
  background-size: contain;
  width: 23px;
  height: 20px;
  border: none;

  opacity: 0.4;
  color: #212121;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.card__like-btn:hover {
  opacity: 1;
}

.card__like-btn_liked {
  background-image: url(../images/Liked\ Red.svg);
  opacity: 1;
}

.card__like-btn_liked:hover {
  background-image: url(../images/Liked\ Red\ Hover.svg);
}

.card__delete-btn {
  background-image: url(../images/Delete\ btn.png);
  background-color: transparent;
  width: 32px;
  height: 32px;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.card__delete-btn:hover {
  background-image: url(../images/Delete\ Btn\ Hover.png);
}

@media screen and (max-width: 627px) {
  .card__title {
    max-width: 250px;
    font-size: 16px;
    font-weight: 500px;
    line-height: 16px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    padding: 10px 0;
  }

  .card__image {
    height: 288px;
  }

  .card__like-btn {
    width: 20px;
    height: 18px;
    margin-left: auto;
    padding: 0 12px;
  }
}
