.footer {
  align-items: center;
  margin-bottom: 60px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.footer__content {
  display: flex;
  justify-content: center;
}

.footer__logo {
  width: 104px;
  height: 16px;
}
